body{
font-family:"Franklin Gothic Regular",sans-serif;
text-align:center;font-size:120px;background-color:#000000;
color:#fff200;










}
#title{
    color:#42cef5;

}
#reasons-to-be-friends-with-me{

    font-size:30px;

height:200px;

overflow-y:hidden;

scroll-behavior: smooth;

}



@font-face {
    font-family: 'Franklin Gothic Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Franklin Gothic Regular'), url('FranklinGothic.woff') format('woff');
    }






















