body{
font-family:"Bungee Spice",sans-serif;
text-align:center;font-size:120px;background-color:#f54242;










}
#reasons-to-be-friends-with-me{

    font-size:30px;

height:600px;

/*overflow-y:hidden;*/

}